<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice ASP MVC - Accueil</title>
</head>
<body>
    <header>
        <h1>Technofutur TIC</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Register">S'enregistrer</a></li>
                <li><a href="/Login">Se connecter</a></li>
                <li><a href="/Home/Contact">Nous contacter</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Bienvenue sur Technofutur TIC</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi repellat nam numquam ab reiciendis est alias quo similique enim voluptatibus, eius officiis molestias quis consectetur temporibus magni natus odit accusantium.</p>
        </section>
    </main>
    <footer>
        <p>Technofutur TIC - 2024/2025</p>
    </footer>
</body>
</html>